.navbar {
  margin-top: 20px;
  font-family: 'Libre Baskerville', serif; }
  .navbar li {
    font-size: 14px; }
    .navbar li :hover {
      color: #45d14c !important; }

.main {
  margin-top: 20px; }

img {
  box-shadow: 5px 5px 10px #efefef; }

h2 {
  font-family: 'Libre Baskerville', serif;
  color: #353535; }

p {
  font-family: 'Libre Baskerville', serif;
  color: #636363;
  font-size: 14px; }

.jumbotron {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  height: 500px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #efefef; }

.jumbotron-content {
  background-color: white;
  padding: 40px;
  margin-top: 150px; }

.shop-button {
  position: absolute;
  left: 43%;
  margin-top: 20px;
  font-size: 14px; }

h3 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #45d14c;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 18px; }

h3:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: #45d14c;
  width: 60px; }

h3:before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: #45d14c;
  width: 60px; }

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px; }

#newsletter {
  background-image: url(../assets/newsletter.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 300px;
  background-color: #41c648;
  padding: 55px; }
  #newsletter h2 {
    color: white; }

.newsletter-form {
  margin-top: 35px; }

.signup-button {
  color: #41c648 !important;
  background-color: white !important;
  font-size: 14px;
  font-family: 'Libre Baskerville', serif;
  border: none;
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 25px; }

.form-control {
  border-radius: 0px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  color: white; }

.form-control::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-style: italic; }

.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
  font-family: 'Libre Baskerville', serif;
  font-style: italic; }

.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
  font-family: 'Libre Baskerville', serif;
  font-style: italic; }

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-style: italic; }

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-style: italic; }

.form-control:focus {
  background-color: transparent;
  border-color: white; }

#collections {
  margin-top: 50px;
  margin-bottom: 50px; }

.gallery {
  display: flex;
  align-items: center;
  justify-content: center; }

.large {
  float: left;
  margin-right: 20px; }

.small {
  float: left; }

.small img {
  height: 210px;
  display: block; }

.small img:first-child {
  margin-bottom: 20px; }

.divider {
  position: absolute;
  left: 50%;
  bottom: -100%;
  top: 100%;
  border-left: 1px solid #dbdbdb; }

footer {
  font-family: 'Libre Baskerville', serif;
  margin-top: 50px;
  margin-bottom: 50px; }
  footer h4 {
    font-size: 14px;
    color: #636363; }
  footer li {
    font-size: 12px;
    color: #969696;
    list-style: none;
    padding: 5px; }
  footer .col-sm-3 {
    border-right: 1px solid #ededed; }
    footer .col-sm-3:last-child {
      border: none; }
